# Ignore folder types
**\resources

# Ignore file types
*.1
*.abs
*.accdb
*.acsm
*.ani
*.aspx
*.b1
*.bak
*.bin
*.btb
*.c
*.cab
*.cache
*.ccf
*.cdc
*.cdl
*.cfg
*.cpg
*.cpp
*.csi
*.csv
*.ctb
*.dat
*.db
*.dbf
*.dbmdl
*.dfr
*.doc
*.docx
*.dot
*.dotx
*.dwl
*.dwl2
*.dwg
*.eeo
*.epub
*.eqr
*.ex
*.EX_
*.exe
*.gid
*.gif
*.gml
*.h
*.hex
*.hjt
*.htm
*.html
*.id
*.idx
*.ini
*.jar
*.jfm
*.jpg
*.kml
*.kmz
*.lin
*.ler
*.lib
*.ll$
*.llb
*.lld
*.lll
*.llm
*.llt
*.llw
*.llz
*.lng
*.lnk
*.lst
*.log
*.mb1
*.mdb
*.mdf
*.mef
*.mp4
*.ms1
*.msg
*.ncf
*.nfl
*.p65
*.pdf
*.pdx
*.pkg
*.png
*.ppt
*.pptx
*.prj
*.prn
*.psd
*.pyc
*.rar
*.rcf
*.rpt
*.s1
*.sbn
*.sbx
*.script
*.shp
*.shx
*.sln
*.sql
*.sqlproj
*.suo
*.tif
*.tpz
*.tut
*.txt
*.upf
*.url
*.user
*.veq
*.vdr
*.xcm
*.xls
*.xlsx
*.xlt
*.xltm
*.xltx
*.xml
*.xsd
*.zip