# Ignore folder types
**\app
**\installation_pkgs
**\program_files
**\resources

# Exceptions
!E:\ProgrammingProjects\GitHubMyRepos\RIMS\resources\standards_guidelines\operations\industry\rkb\environment\html\rail_knowledge_bank_env_noise_1_50.htm

# Ignore file types
*.1
*.a
*.abs
*.accdb
*.acsm
*.afm
*.ani
*.APACHE
*.asp
*.aspx
*.b1
*.bak
*.bat
*.bcmap
*.bin
*.bmp
*.BSD
*.btb
*.c
*.cab
*.cache
*.cat
*.ccf
*.cdc
*.cdl
*.cfg
*.chm
*.cpg
*.cpp
*.conf
*.crt
*.cs
*.csc
*.csh
*.csi
*.css
*.csv
*.ctb
*.ctypes
*.cur
*.dat
*.db
*.dbf
*.dbmdl
*.dfdebian
*.dffedora
*.dfr
*.dfsrc
*.dll
*.doc
*.docs
*.docx
*.dot
*.dotx
*.dwl
*.dwl2
*.dwg
*.eeo
*.eml
*.enc
*.eot
*.eps
*.epub
*.eqr
*.ex
*.EX_
*.exe
*.fish
*.fs
*.fsc
*.gen
*.gid
*.gif
*.gml
*.gz
*.h
*.hex
*.hjt
*.htc
*.htm
*.html
*.ico
*.icc
*.icns
*.id
*.idl
*.idx
*.in
*.ini
*.iotpatch
*.iso
*.jar
*.jfm
*.jpeg
*.jpg
*.js
*.json
*.key
*.kml
*.kmz
*.lin
*.ler
*.lib
*.links
*.ll$
*.llb
*.lld
*.lll
*.llm
*.llt
*.llw
*.llz
*.lng
*.lnk
*.lst
*.local
*.log
*.mailmap
*.mask
*.mb1
*.md
*.mdb
*.mdf
*.mef
*.mp3
*.mp4
*.ms1
*.msg
*.msi
*.ncf
*.nfl
*.nsi
*.ods
*.odt
*.ogg
*.otf
*.p7m
*.p12
*.p65
*.pdf
*.pdx
*.pem
*.pfb
*.pickle
*.pkg
*.png
*.po
*.pot
*.ppm
*.ppt
*.pptx
*.preload
*.prj
*.prn
*.properties
*.ps1
*.psd
*.PSF
*.pyc
*.pyd
*.pyi
*.python
*.pyw
*.pxd
*.rar
*.rc
*.rcf
*.rng
*.rpt
*.rst
*.rtf
*.rules
*.s1
*.sample
*.sass
*.sbn
*.sbx
*.script
*.scss
*.service
*.servicename
*.sh
*.shp
*.shx
*.sfd
*.sln
*.sql
*.sqlproj
*.suo
*.svg
*.tab
*.tail
*.tcl
*.template
*.terms
*.tex
*.tgz
*.tif
*.tm
*.tpz
*.ts
*.ttf
*.tut
*.txt
*.upf
*.url
*.user
*.vbs
*.vc
*.version
*.veq
*.vdr
*.wasm
*.wav
*.whl
*.woff
*.woff2
*.xbm
*.xcm
*.xls
*.xlsx
*.xlt
*.xltm
*.xltx
*.xml
*.xpm
*.xsd
*.xsl
*.xz
*.zip
app/3rd_party_open/odoo/
